.btn {
    background-color: #26de81;
    color: #ffffff;
    border-radius: 10px;
    border: #025a2e;
    padding: 10px 15px;
    margin: 10px;
    text-transform: uppercase;
}

.btn:hover {
    border: solid black 2px;
    cursor: pointer;
}